body{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url("Gymlogo1.jpg");background-repeat:no-repeat;background-size:cover;
text-align:center;
color:white;
width:100%;
}
}#span{
    color:indigo; background:orange;
} #header h1{background-color:#bdc3c7;color:black;font-family:Helvetica;
font-size:40px;border-radius:40px;
}body #body table{background-color:grey;color:white;
border-radius:5px;line-break:10px;
} #link {text-align:left;
 }#footer{font-family:serif;
}span {background-color:black;color:white;
} * {margin:0;
padding:0;
box-sizing:border-box;border-color:black;
} li{display:inline;
margin-left:12px;
} *{
box-sizing:border-box;
 padding:0;
 margin:0;
 border-radius:5px;
 } body .form {flex-wrap:wrap;
align-items:stretch; 
justify-content:center;
flex-wrap:wrap;
flex-direction:column;
} 
}}}}}
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}